@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  margin: 0;
  padding: 0;
  color: #eee;
  height: 100%;
  font-family: "Roboto";
}

body {
  font-size: 16px;
  background: #355aa8;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 200;
}

button:hover,
:focus {
  border: none;
  outline: none;
  cursor: pointer;
}
