.header {
  background: #012269;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #eee;
}

.fileImporter {
  margin-bottom: 20px;
}

.instructions {
  margin-top: 20px;
  font-size: 14px;
}

.selected {
  padding: 5px 40px;
}

.selectedFile {
  margin-top: 15px;
  position: relative;
}

.selectedFileIcon {
  top: 0;
  position: absolute;
}

.fileUploader {
  display: flex;
  justify-content: center;
}

.cloudImgContainer {
  max-width: 100px;
  padding: 40px;
  border: 2px dashed #eee;
  background: #4f74c1;
  border-radius: 6px;
}

.cloudImgContainer > img {
  filter: invert(1);
}

.grid {
  padding: 0px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 3fr 3fr;
}

.footerButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background: #052871;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: #eee;
}

.btn:hover {
  background: rgba(5, 40, 113, 0.7);
}

.btn:disabled {
  background: lightgray;
}
