.header {
  background: #012269;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #eee;
}

.homeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}
.fileUploaderWrapper {
  width: 100%;
}

.urlWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.filePathInput::placeholder {
  color: lightgray;
}
.imgWrapper {
  width: 100%;
  height: 200px;
  margin: 20px 0px;
  border: 2px dashed #eee;
  padding: 20px;
  background: #4f74c1;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgWrapper > img {
  filter: invert(1);
  width: 100px;
}
.topDescription {
  margin-top: 20px;
  font-size: 14px;
}
.selectFileContainer {
  width: 100%;
  margin-top: 20px;
}
.dragDropSection {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px;
  background: #052871;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: #eee;
}

.runBtn {
  position: absolute;
  top: 400px;
  width: 100%;
  margin: 40px;
}

.importBtn {
  width: 100%;
}

.btn:hover {
  background: rgba(5, 40, 113, 0.7);
}

.btn:disabled {
  background: lightgray;
}
