.header {
  background: #eee;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  color: #eee;
  display: flex;
  justify-content: center;
}

.header-img {
  width: 60%;
  padding-left: 14px;
}

.fileImporter {
  margin-bottom: 20px;
}

.instructions {
  margin-top: 20px;
  font-size: 14px;
}

.selected {
  padding: 5px 40px;
}

.selectedFile {
  margin-top: 15px;
  position: relative;
}

.selectedFileIcon {
  top: 0;
  position: absolute;
}

.fileUploader {
  display: flex;
  justify-content: center;
}

.fileUploaderContainer {
  width: 100%;
  padding: 0 40px;
  border: 2px dashed #eee;
  background: rgba(79, 116, 193);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}

.fileUploaderDrag {
  background: rgb(106, 147, 236);
}

.cloudImgContainer {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud {
  display: flex;
  justify-content: center;
}
.cloudImg {
  filter: invert(1);
}
.dragDropText {
  text-align: center;
}
.orText {
  text-align: center;
  font-size: 12px;
}

.grid {
  padding: 0px 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.7fr;
}
.modal {
  position: absolute;
  padding: 15px;
  top: -100%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, 50%);

  background: rgba(5, 40, 113, 1);
  border-radius: 5px;

  transition: transform 0.4s;
}

.show {
  transform: translate(-50%, 180%);
}

.modal-form-button {
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: Black;
  padding: 10px;
  margin: 10px 0px;
}

.gearIcon {
  position: absolute;
  top: 0px;
  left: 89.2%;
  width: 20px;
  padding: 10px;
  padding-bottom: 7px;
  background: rgba(5, 40, 113, 0.8);
  border-radius: 0px 0px 5px 5px;
  transition: width 0.2s;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.gearIcon:hover {
  cursor: pointer;
  width: 22px;
  background: rgba(5, 40, 113, 1);
}

.gearIcon > img {
  filter: invert(1);
}
.createWatcherBtn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form-button:hover {
  background-color: aqua;
}
.footerButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-bottom: 24px; */
}

.btn {
  width: 100%;
  padding: 10px;
  background: #052871;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  color: #eee;
}

.btn:hover {
  background: rgba(5, 40, 113, 0.7);
}

.btn:disabled {
  color: darkgrey;
  cursor: not-allowed;
  background: rgb(224, 224, 224);
}
